h2 {
    color: #0000CC;
    font-familt: arial;
}

h4 { 
	color:#666699;
	font-family: arial;
}

img {
	border-top: black 2px solid;
	border-bottom: black 2px solid;
}

p {
	margin-left: 50px;
	margin-top: 50px;
}