html { 
  background-color: #DFDFDF;
}

#header {
  text-align: center;
  font-family: arial;
  margin-top: 3em;
}

#body { 
  margin-top: 5em;
  margin-left: 8em;
  margin-right: 8em;
  margin-bottom: 5em;
}

p {
	font-size: 20px;
}