/*colors blue: 215AAF; red: 9C3848 orange: FFAD69; yellow:; F5E663 */

.hero-unit {
    background-image:url('../imgs/hero_img.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    width:100%;
    height: 500px ;
  }
.hero-unit h1 {
    color: #FFFFFF;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
    padding-top: 100px;
}
.hero-unit h2 {
    font-size: 25px;
    color: #FFFFFF;
}

.section {
    height: 500px;
}

.footer {
    text-align: center;
    width: 100%;
}

/* Large desktop */
@media (min-width: 1200px) {}
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .hero-unit { height:300px; } 
    .hero-unit h1 { padding-top:20px ;}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    .hero-unit { height:300px; }
    .hero-unit h1{ padding-top:20px; } 
}





  